# IDE files
.idea/
.vs/
**/__pycache__/

# Virtual environment
venv/
Lib/
Scripts/
pip-selfcheck.json
pyvenv.cfg

# Build files
Aipen.egg-info/
src/Aipen.egg-info/
build/
dist/

# Repository files
log/
models/
data/
!src/data/
