# Gitkeeps
!**.gitkeep  # TODO: Fix, currently gitkeeps do not work

# IDE files
.idea/
.vs/
.vscode
**/__pycache__/

# Virtual environment
venv/
Lib/
Scripts/
pip-selfcheck.json
pyvenv.cfg

# Models and logging
log/
models/

# Build files
Aipen.egg-info/
src/Aipen.egg-info/
build/
dist/
