body {
    background: #23283C;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;

    width: 98vw;
    height: 98vh;
    display: inline-grid;
    grid-template-columns: 20vw 79vw;
    padding: 0.5vw;
    margin: 0;
}

.card {
    background: #2D334C;
    padding: 0;
    margin: 0.5vw;
}

#controls-card {
    grid-column: 1 / span 2;
}

h1 {
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    margin: 0;
    border-bottom: 5px solid #23283C;
    background-image: linear-gradient(to right, #2D334C, #23283C);
}

body div div {
    margin: 0;
    width: calc(100% - 2 * 0.25vw);
    height: calc(100% - 2 * 0.25vw - 5px - 1em * 2);
}

body div div div {
    height: 100%;
    margin: 10px;
    padding: 0;
}

body div div div * {
    height: auto;
    margin: auto;
    padding: auto;
}

.left {
    margin: 0;
    padding: 0;
    width: 72%;
    float: left;
}

.right {
    margin: 0;
    padding: 0;
    width: 25%;
    float: right;
}

#plot * {
    width: auto;
    margin: 0;
}

#plot-script {
    visibility: hidden;
}

select {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    /*margin: 2.5%;*/
}

table {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

table tr {
    text-align: center;
}

table tr:nth-child(even) {
    background: #23283C;
}

.preview {
    margin: 10px;
    background-color: #23283C;
    height: 92.5%;
}
