body {
    background: #23283C;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    width: 98vw;
    height: 98vh;
    display: inline-grid;
    grid-template-columns: 33vw 66vw;
    padding: 0.5vw;
    margin: 0;
}

.card {
    background: #2D334C;
    padding: 0;
    margin: 0.5vw;
}

#plot {
    background: #FFFFFF;
}

h1 {
    font-weight: normal;
    font-size: 1em;
}
