<!DOCTYPE html>

<html>

    <head>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>

        {script}

        <style> {style} </style>

        <link rel="icon" href="/assets/favicon.png" />
        <title>Aipen</title>
    </head>

    <body>

        <div id="activities" class="card">
            <h1>ACTIVITIES</h1>
            <div>
                <nav>
                    <select size="5">
                        <option>Test</option>
                        <option>Test2</option>
                        <option>Test3</option>
                        <option>Test4</option>
                        <option>Test5</option>
                        <option>Test6</option>
                        <option>Test7</option>
                    </select>
                </nav>
            </div>
        </div>

        <div id="preview" class="card">
            <h1>PREVIEW</h1>
            <div id="plot">{plot}</div>
        </div>

        <div id="models" class="card">
            <h1>MODELS</h1>
            <div></div>
        </div>

        <div id="statistics" class="card">
            <h1>STATISTICS</h1>
            <div></div>
        </div>

        <div id="data" class="card">
            <h1>DATA</h1>
            <div></div>
        </div>

        <div id="controls" class="card">
            <h1>CONTROLS</h1>
            <div></div>
        </div>

    </body>

</html>
